In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import sys

In [2]:
data = [{'title':'hello0', 'post':'world0'},{'title':'hello1', 'post':'world1'}]

In [10]:
title = []
post = []

for i in range(len(data)):
    title.append(data[i]['title'])
    post.append(data[i]['post'])

In [11]:
result = pd.DataFrame({'title':title, 'post':post})

In [12]:
result

    title    post
0  hello0  world0
1  hello1  world1